button{
    border: 5px solid black;
    background-color: aliceblue;
    color: red;
    height: 50px;
    width: 50px;
}
p{
    text-align: center;
    color: blue;
    border: 10px solid blue;
    background-color: black;
    font-size: large;
}
h4{
    text-align:right;
    color: purple;
    border: 15px solid purple;
    background-color: green;
    font-size: 100px;
}