*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    border: 1px solid red;
    background-color: blue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.child{
    height: 60px;
    width: 60px;
}