*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  display: flex;
  width: 400px; 
  border: 1px solid black;
}

.item {
  flex-basis: 200px; 
  padding: 20px;
  text-align: center;
  color: white;
}

.one {
  flex-shrink: 1;
  background-color: red;
}

.two {
  flex-shrink: 2;
  background-color: green;
}

.three {
  flex-shrink: 3;
  background-color: blue;
}