*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}